*.py linguist-vendored
*.js linguist-vendored
*.java linguist-vendored
*.cpp linguist-vendored
*.c linguist-vendored
*.go linguist-vendored
*.rb linguist-vendored
*.php linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.ts linguist-vendored
*.swift linguist-vendored
*.vb linguist-vendored
*.pl linguist-vendored
*.r linguist-vendored
*.sh linguist-vendored
*.sql linguist-vendored
*.xml linguist-vendored
*.json linguist-vendored
*.md linguist-language=Markdown
